<!doctype html>
<html lang="en" data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title th:text="${title}">title</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/fonts/tabler-icons.min.css">
    <link rel="stylesheet" href="/assets/fonts/feather.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="/assets/fonts/material.css">
    <link rel="stylesheet" href="/assets/fonts/cryptofont.css">

    <link rel="stylesheet" href="/assets/css/style.css" id="main-style-link">

    <link rel="stylesheet" href="/dashboard.css">
    <link rel="stylesheet" href="/css/dashboards.css">

    <script src="/color-modes.js"></script>

    <script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
    <script src="https://code.highcharts.com/dashboards/modules/dashboards-plugin.js"></script>

    <script src="/code/highcharts.js"></script>
    <script src="/code/highcharts-3d.js"></script>
    <script src="/code/modules/exporting.js"></script>
    <script src="/code/modules/export-data.js"></script>
    <script src="/code/modules/accessibility.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/groupparamV1script.js"></script>

    <script src="/assets/js/plugins/popper.min.js"></script>
    <script src="/assets/js/plugins/simplebar.min.js"></script>
    <script src="/assets/js/plugins/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/feather.min.js"></script>
    <script src="/assets/js/config.js"></script>
    <script src="/assets/js/pcoded.js"></script>
    <script src="/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/assets/js/pages/dashboard-sale.js"></script>
    <script src="/assets/js/plugins/clipboard.min.js"></script>
<!--    <link rel="stylesheet" href="/assets/css/style-preset.css">-->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            width: 100%;
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }

        .btn-bd-primary {
            --bd-violet-bg: #712cf9;
            --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

            --bs-btn-font-weight: 600;
            --bs-btn-color: var(--bs-white);
            --bs-btn-bg: var(--bd-violet-bg);
            --bs-btn-border-color: var(--bd-violet-bg);
            --bs-btn-hover-color: var(--bs-white);
            --bs-btn-hover-bg: #6528e0;
            --bs-btn-hover-border-color: #6528e0;
            --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
            --bs-btn-active-color: var(--bs-btn-hover-color);
            --bs-btn-active-bg: #5a23c8;
            --bs-btn-active-border-color: #5a23c8;
        }

        .bd-mode-toggle {
            z-index: 1500;
        }

        .card {
            white-space: nowrap;
            page-break-inside: avoid;
            break-inside: avoid;


        }

        .card-content {
            white-space: normal;
            vertical-align: top;
            padding: 5px 5px 5px;
        }

        .card-form {
            column-count: 2;
            padding: 2px;
            /*background: #f8f9fa;*/
        }

        @media (max-width: 898px) {
            .card-form {
                column-count: auto;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0.5rem;
        }
        .grid>div {
            /*padding: 0.5rem;*/
            border-radius: 0.5rem;
        }

        @media (max-width: 990px) {
            .grid{
                grid-template-columns: 1fr;
            }
        }

        .material-icons-two-tone {
            background-color: var(--bs-body-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            vertical-align: text-bottom;
        }

    </style>

    <!-- Custom styles for this template -->

</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
    </symbol>
    <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
    </symbol>
    <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
    </symbol>
    <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
    </symbol>
</svg>

<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
            <use href="#circle-half"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#sun-fill"></use>
                </svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
                    aria-pressed="false">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#moon-stars-fill"></use>
                </svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto"
                    aria-pressed="true">
                <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em">
                    <use href="#circle-half"></use>
                </svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                    <use href="#check2"></use>
                </svg>
            </button>
        </li>
    </ul>
</div>


<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">MADigital</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100 rounded-0 border-0" type="text" placeholder=""
           aria-label="">
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="javascript: document.logoutForm.submit()">Выйти</a>
            <form name="logoutForm" th:action="@{/auth/logout}" method="post" th:hidden="true">
                <input hidden type="submit" value="Выход"/>
            </form>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/dash/dashboardV1">
                            <span data-feather="home" class="align-text-bottom"></span>
                            <b> Dashboard </b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div th:each="par : ${params}">
                            <a class="nav-link" th:href="'/dash/dashboard/'+${par.id}" th:text="${par.name}">
                                <span data-feather="file" class="align-text-bottom"></span>
                                Параметры
                            </a>
                        </div>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dash/dashboardV1">
                            <span data-feather="home" class="align-text-bottom"></span>
                            <b>Dashboard group</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div th:each="grouppar : ${groupParams}">
                            <a class="nav-link" th:href="'/dash/groupdashboard/'+${grouppar.id}" th:text="${grouppar.groupName}">
                                <span data-feather="file" class="align-text-bottom"></span>
                                Группа параметров
                            </a>
                        </div>
                    </li>
                    <hr>
                    <li class="nav-item" th:hidden="${!isAdmin}">
                        <a class="nav-link" href="/dash/dashboardparamList">
                            <span data-feather="bar-chart-2" class="align-text-bottom"></span>
                            Список показателей
                        </a>
                    </li>
                    <li class="nav-item" th:hidden="${!isAdmin}">
                        <a class="nav-link" href="/ftp/ftpsettingList">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            Настройки FTP
                        </a>
                    </li>
                    <li class="nav-item" th:hidden="${!isAdmin}">
                        <a class="nav-link" href="/userControl/userList">
                            <span data-feather="users" class="align-text-bottom"></span>
                            Пользователи
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <!--      _______________________________________________________________________________________________________-->
            <div class="pc-container">
                <div class="pcoded-content">
                    <div class="row">
                        <!-- support-section start -->
<!--                        <div class="col-xl-6 col-md-12">-->
                            <div class="card flat-card">
<!--                                <div class="row-table">-->
<!--                                 <div class="grid">-->
                                    <div class="col-sm-6 card-body br">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="material-icons-two-tone text-primary mb-1">group</i>
                                            </div>
                                            <div class="col-8 text-md-end">
                                                <h5>1000</h5>
                                                <span>Customers</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 card-body br">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="material-icons-two-tone text-primary mb-1">language</i>
                                            </div>
                                            <div class="col-8 text-md-end">
                                                <h5>$1252</h5>
                                                <span>Revenue</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 card-body br">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="material-icons-two-tone text-primary mb-1">unarchive</i>
                                            </div>
                                            <div class="col-8 text-md-end">
                                                <h5>600</h5>
                                                <span>Growth</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 card-body br">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="material-icons-two-tone text-primary mb-1">account_balance</i>
                                            </div>
                                            <div class="col-8 text-md-end">
                                                <h5>3550</h5>
                                                <span>Returns</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 card-body br">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="material-icons-two-tone text-primary mb-1">cloud_download</i>
                                            </div>
                                            <div class="col-8 text-md-end">
                                                <h5>3550</h5>
                                                <span>Downloads</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <i class="material-icons-two-tone text-primary mb-1">filter_1</i>
<!--                                                <i class="material-icons-two-tone text-primary mb-1">shopping_cart</i>-->
                                            </div>
                                            <div class="col-8 text-md-end">
                                                <h5>100%</h5>
                                                <span>Order</span>
                                            </div>
                                        </div>
                                    </div>
<!--                                </div>-->
                            </div><br>
<!--                            <div class="row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="card support-bar overflow-hidden">-->
<!--                                        <div class="card-body pb-0">-->
<!--                                            <h2 class="m-0">53.94%</h2>-->
<!--                                            <span class="text-primary">Conversion Rate</span>-->
<!--                                            <p class="mb-3 mt-3">Number of conversions divided by the total visitors. </p>-->
<!--                                        </div>-->
<!--                                        <div id="support-chart"></div>-->
<!--                                        <div class="card-footer border-0 bg-primary text-white background-pattern-white">-->
<!--                                            <div class="row text-center">-->
<!--                                                <div class="col">-->
<!--                                                    <h4 class="m-0 text-white">10</h4>-->
<!--                                                    <span>2018</span>-->
<!--                                                </div>-->
<!--                                                <div class="col">-->
<!--                                                    <h4 class="m-0 text-white">15</h4>-->
<!--                                                    <span>2017</span>-->
<!--                                                </div>-->
<!--                                                <div class="col">-->
<!--                                                    <h4 class="m-0 text-white">13</h4>-->
<!--                                                    <span>2016</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="card support-bar overflow-hidden">-->
<!--                                        <div class="card-body pb-0">-->
<!--                                            <h2 class="m-0">1432</h2>-->
<!--                                            <span class="text-primary">Order delivered</span>-->
<!--                                            <p class="mb-3 mt-3">Total number of order delivered in this month.</p>-->
<!--                                        </div>-->
<!--                                        <div class="card-footer border-0">-->
<!--                                            <div class="row text-center">-->
<!--                                                <div class="col">-->
<!--                                                    <h4 class="m-0">130</h4>-->
<!--                                                    <span>May</span>-->
<!--                                                </div>-->
<!--                                                <div class="col">-->
<!--                                                    <h4 class="m-0">251</h4>-->
<!--                                                    <span>June</span>-->
<!--                                                </div>-->
<!--                                                <div class="col">-->
<!--                                                    <h4 class="m-0 ">235</h4>-->
<!--                                                    <span>July</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div id="support-chart1"></div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-6 col-md-12">-->
<!--                            <div class="card">-->
<!--                                <div class="card-header">-->
<!--                                    <h5>Department wise monthly sales report</h5>-->
<!--                                </div>-->
<!--                                <div class="card-body">-->
<!--                                    <div class="row pb-2">-->
<!--                                        <div class="col-auto m-b-10">-->
<!--                                            <h3 class="mb-1">$21,356.46</h3>-->
<!--                                            <span>Total Sales</span>-->
<!--                                        </div>-->
<!--                                        <div class="col-auto m-b-10">-->
<!--                                            <h3 class="mb-1">$1935.6</h3>-->
<!--                                            <span>Average</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div id="account-chart"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- support-section end -->
                        <!-- customer-section start -->
<!--                        <div class="col-xl-6 col-md-12">-->
<!--                            <div class="card">-->
<!--                                <div class="card-body">-->
<!--                                    <h6>Customer Satisfaction</h6>-->
<!--                                    <span>It takes continuous effort to maintain high customer satisfaction levels Internal and-->
<!--                            external.</span>-->
<!--                                    <div class="row d-flex justify-content-center align-items-center">-->
<!--                                        <div class="col">-->
<!--                                            <div id="satisfaction-chart"></div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card table-card">-->
<!--                                <div class="card-header">-->
<!--                                    <h5>New Products</h5>-->
<!--                                </div>-->
<!--                                <div class="pro-scroll" style="height:255px;position:relative;">-->
<!--                                    <div class="card-body p-0">-->
<!--                                        <div class="table-responsive">-->
<!--                                            <table class="table table-hover m-b-0">-->
<!--                                                <thead>-->
<!--                                                <tr>-->
<!--                                                    <th>Product Name</th>-->
<!--                                                    <th>Image</th>-->
<!--                                                    <th>Status</th>-->
<!--                                                    <th>Price</th>-->
<!--                                                    <th>Action</th>-->
<!--                                                </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody>-->
<!--                                                <tr>-->
<!--                                                    <td>HeadPhone</td>-->
<!--                                                    <td><img src="../assets/images/widget/p1.jpg" alt="" class="img-20"></td>-->
<!--                                                    <td>-->
<!--                                                        <div><label class="badge bg-light-warning">Pending</label></div>-->
<!--                                                    </td>-->
<!--                                                    <td>$10</td>-->
<!--                                                    <td><a href="#!"><i-->
<!--                                                            class="icon feather icon-edit f-16  text-success"></i></a><a-->
<!--                                                            class="ms-3" href="#!"><i-->
<!--                                                            class="feather icon-trash-2 f-16 text-danger"></i></a></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Iphone 6</td>-->
<!--                                                    <td><img src="../assets/images/widget/p2.jpg" alt="" class="img-20"></td>-->
<!--                                                    <td>-->
<!--                                                        <div><label class="badge bg-light-danger">Cancel</label></div>-->
<!--                                                    </td>-->
<!--                                                    <td>$20</td>-->
<!--                                                    <td><a href="#!"><i-->
<!--                                                            class="icon feather icon-edit f-16  text-success"></i></a><a-->
<!--                                                            class="ms-3" href="#!"><i-->
<!--                                                            class="feather icon-trash-2 f-16 text-danger"></i></a></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Jacket</td>-->
<!--                                                    <td><img src="../assets/images/widget/p3.jpg" alt="" class="img-20"></td>-->
<!--                                                    <td>-->
<!--                                                        <div><label class="badge bg-light-success">Success</label></div>-->
<!--                                                    </td>-->
<!--                                                    <td>$35</td>-->
<!--                                                    <td><a href="#!"><i-->
<!--                                                            class="icon feather icon-edit f-16  text-success"></i></a><a-->
<!--                                                            class="ms-3" href="#!"><i-->
<!--                                                            class="feather icon-trash-2 f-16 text-danger"></i></a></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Sofa</td>-->
<!--                                                    <td><img src="../assets/images/widget/p4.jpg" alt="" class="img-20"></td>-->
<!--                                                    <td>-->
<!--                                                        <div><label class="badge bg-light-danger">Cancel</label></div>-->
<!--                                                    </td>-->
<!--                                                    <td>$85</td>-->
<!--                                                    <td><a href="#!"><i-->
<!--                                                            class="icon feather icon-edit f-16  text-success"></i></a><a-->
<!--                                                            class="ms-3" href="#!"><i-->
<!--                                                            class="feather icon-trash-2 f-16 text-danger"></i></a></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Iphone 6</td>-->
<!--                                                    <td><img src="../assets/images/widget/p2.jpg" alt="" class="img-20"></td>-->
<!--                                                    <td>-->
<!--                                                        <div><label class="badge bg-light-success">Success</label></div>-->
<!--                                                    </td>-->
<!--                                                    <td>$20</td>-->
<!--                                                    <td><a href="#!"><i-->
<!--                                                            class="icon feather icon-edit f-16  text-success"></i></a><a-->
<!--                                                            class="ms-3" href="#!"><i-->
<!--                                                            class="feather icon-trash-2 f-16 text-danger"></i></a></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>HeadPhone</td>-->
<!--                                                    <td><img src="../assets/images/widget/p1.jpg" alt="" class="img-20"></td>-->
<!--                                                    <td>-->
<!--                                                        <div><label class="badge bg-light-warning">Pending</label></div>-->
<!--                                                    </td>-->
<!--                                                    <td>$50</td>-->
<!--                                                    <td><a href="#!"><i-->
<!--                                                            class="icon feather icon-edit f-16  text-success"></i></a><a-->
<!--                                                            class="ms-3" href="#!"><i-->
<!--                                                            class="feather icon-trash-2 f-16 text-danger"></i></a></td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>Iphone 6</td>-->
<!--                                                    <td><img src="../assets/images/widget/p2.jpg" alt="" class="img-20"></td>-->
<!--                                                    <td>-->
<!--                                                        <div><label class="badge bg-light-danger">Cancel</label></div>-->
<!--                                                    </td>-->
<!--                                                    <td>$30</td>-->
<!--                                                    <td><a href="#!"><i-->
<!--                                                            class="icon feather icon-edit f-16  text-success"></i></a><a-->
<!--                                                            class="ms-3" href="#!"><i-->
<!--                                                            class="feather icon-trash-2 f-16 text-danger"></i></a></td>-->
<!--                                                </tr>-->
<!--                                                </tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-xl-6 col-md-12">-->
<!--                            <div class="row">-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="card prod-p-card background-pattern">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="row align-items-center m-b-0">-->
<!--                                                <div class="col">-->
<!--                                                    <h6 class="m-b-5">Total Profit</h6>-->
<!--                                                    <h3 class="m-b-0">$1,783</h3>-->
<!--                                                </div>-->
<!--                                                <div class="col-auto">-->
<!--                                                    <i class="material-icons-two-tone text-primary">card_giftcard</i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="card prod-p-card bg-primary background-pattern-white">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="row align-items-center m-b-0">-->
<!--                                                <div class="col">-->
<!--                                                    <h6 class="m-b-5 text-white">Total Orders</h6>-->
<!--                                                    <h3 class="m-b-0 text-white">15,830</h3>-->
<!--                                                </div>-->
<!--                                                <div class="col-auto">-->
<!--                                                    <i class="material-icons-two-tone text-white">local_mall</i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="card prod-p-card bg-primary background-pattern-white">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="row align-items-center m-b-0">-->
<!--                                                <div class="col">-->
<!--                                                    <h6 class="m-b-5 text-white">Average Price</h6>-->
<!--                                                    <h3 class="m-b-0 text-white">$6,780</h3>-->
<!--                                                </div>-->
<!--                                                <div class="col-auto">-->
<!--                                                    <i class="material-icons-two-tone text-white">monetization_on</i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-sm-6">-->
<!--                                    <div class="card prod-p-card background-pattern">-->
<!--                                        <div class="card-body">-->
<!--                                            <div class="row align-items-center m-b-0">-->
<!--                                                <div class="col">-->
<!--                                                    <h6 class="m-b-5">Product Sold</h6>-->
<!--                                                    <h3 class="m-b-0">6,784</h3>-->
<!--                                                </div>-->
<!--                                                <div class="col-auto">-->
<!--                                                    <i class="material-icons-two-tone text-primary">local_offer</i>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card feed-card">-->
<!--                                <div class="card-header">-->
<!--                                    <h5>Feeds</h5>-->
<!--                                </div>-->
<!--                                <div class="feed-scroll" style="height:385px;position:relative;">-->
<!--                                    <div class="card-body">-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="bell" class="bg-light-primary feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">You have 3 pending tasks. <span-->
<!--                                                            class="text-muted float-end f-14">Just Now</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="shopping-cart"-->
<!--                                                   class="bg-light-danger feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">New order received <span class="text-muted float-end f-14">30-->
<!--                                                min ago</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="file-text"-->
<!--                                                   class="bg-light-success feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">You have 3 pending tasks. <span-->
<!--                                                            class="text-muted float-end f-14">Just Now</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="bell" class="bg-light-primary feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">You have 4 tasks Done. <span-->
<!--                                                            class="text-muted float-end f-14">1 hours ago</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="file-text"-->
<!--                                                   class="bg-light-success feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">You have 2 pending tasks. <span-->
<!--                                                            class="text-muted float-end f-14">Just Now</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="shopping-cart"-->
<!--                                                   class="bg-light-danger feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">New order received <span class="text-muted float-end f-14">4-->
<!--                                                hours ago</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="shopping-cart"-->
<!--                                                   class="bg-light-danger feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">New order Done <span class="text-muted float-end f-14">Just-->
<!--                                                Now</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-25 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="file-text"-->
<!--                                                   class="bg-light-success feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">You have 5 pending tasks. <span-->
<!--                                                            class="text-muted float-end f-14">5 hours ago</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="row m-b-0 align-items-center">-->
<!--                                            <div class="col-auto p-r-0">-->
<!--                                                <i data-feather="bell" class="bg-light-primary feed-icon p-2 wid-30 hei-30"></i>-->
<!--                                            </div>-->
<!--                                            <div class="col">-->
<!--                                                <a href="#!">-->
<!--                                                    <h6 class="m-b-5">You have 4 tasks Done. <span-->
<!--                                                            class="text-muted float-end f-14">2 hours ago</span></h6>-->
<!--                                                </a>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                        <!-- customer-section end -->
<!--                    </div>-->
                    <!-- [ Main Content ] end -->
                </div>
            </div>



        </main>
    </div>
</div>


<script src="/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
